@import 'normalize.css';
@import 'bootstrap';
@import '@fontsource/be-vietnam';

:root {
    --bg-primary-color: #f4abaf;
    --bg-primary-color-light: #f79b9f;
    --bg-primary-color-dark: #ff7077;
    --bg-primary-color-dark-2: #ff555d;
    --bg-light-color: #ffffff;
    --bg-light-color-sub: #b8b8b8;

    --text-primary-color: #000000;
    --text-primary-color-sub: #0000005b;
    --text-primary-color-light: #ffffff;
    --text-primary-color-light-sub: #ffffff5b;
    --text-primary-color-danger: #f70000;
    --text-primary-color-danger-sub: #f700005b;

    --height-navbar: 70px;
    --height-header-study-layout: 50px;

    --box-shadow-top: 0px -4px 30px rgba(50, 50, 93, 0.25);
    --box-shadow-bottom: 0px 4px 30px rgba(50, 50, 93, 0.25);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-primary-color);
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

.display-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.display-left {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}
.display-right {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}
.avt-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #333;
    overflow: hidden;
    img {
        width: 100%;
    }
}
