@import 'normalize.css';
@import 'bootstrap';
@import '@fontsource/be-vietnam';

:root {
    --bg-primary-color: #ffd18c;
    --bg-primary-color-light: #ffe2b6;
    --bg-primary-color-light-1: #ffebce;
    --bg-primary-color-dark: #fcc87a;
    --bg-primary-color-dark-2: #fcc36d;
    --bg-primary-color-dark-3: #fcbf65;
    --bg-primary-color-dark-4: #fdb74e;
    --bg-light-color: #ffffff;
    --bg-light-color-sub: #b8b8b8;
    --bg-light-color-hover: #f8f8f8;
    --bg-dark-color: #000000;
    --bg-dark-color-sub: #7c7c7c;
    --bg-dark-color-hover: #bdbdbd;

    --text-primary-color: #000000;
    --text-primary-color-sub: #0000005b;
    --text-primary-color-light: #ffffff;
    --text-primary-color-light-sub: #ffffff8c;
    --text-primary-color-danger: #f70000;
    --text-primary-color-danger-sub: #f700005b;
    --text-color-bg: #ffd18c;
    --text-color-bg-dark: #ffa216;

    --height-navbar: 70px;
    --height-header-study-layout: 50px;

    --box-shadow-top: 0px -4px 30px rgba(50, 50, 93, 0.25);
    --box-shadow-bottom: 0px 4px 30px rgba(50, 50, 93, 0.25);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-primary-color);
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}

.display-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.display-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}
.display-left-col {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}
.display-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.avt-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #333;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.dropdown-item.active,
.dropdown-item:active {
    color: var(--text-primary-color);
    text-decoration: none;
    background-color: var(--bg-light-color-hover);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.animation-fade-in {
    animation: fadeIn 1s linear;
}
@keyframes fadeInTopToBot {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animation-fade-in-TtB {
    animation: fadeInTopToBot 0.6s linear;
}
@keyframes fadeInPBotToTop {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animation-fade-in-PBtT {
    animation: fadeInPBotToTop 0.6s linear;
}
