.header {
    background-color: var(--bg-primary-color);
    height: var(--height-header-study-layout);
    z-index: 1000;
    box-shadow: var(--box-shadow-bottom);
}
.nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    font-size: 1.8rem;
    img {
        height: 60%;
    }
}
.nav-btn {
    height: 100%;
    a {
        color: var(--text-primary-color);
    }
}
