.wrap {
    padding: 0 80px;
}
.box {
    height: 546px;
    color: var(--text-color-bg-dark);
}
.end-box {
    height: 390px;
    padding: 35px 60px;
    background-color: var(--bg-primary-color-dark-4);
    border-radius: 15px;
    margin-bottom: 120px;
}
