.wrap {
    min-height: 100vh;
}
.heading {
    font-size: 4.6rem;
    font-weight: 900;
    padding: 12px 24px;
    margin: 12px 0px;
    border-bottom: 2px solid var(--text-color-bg-dark);
}

.card-box {
    padding: 80px;
    a {
        background-color: rgb(255, 115, 0) !important;
        border: none;
    }
}
